.container-fluid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}

.botoes{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.botoes > button {
  margin-right: 5px;
}

button > i {
  font-size:larger;
}



